[Default]
raw_reader_type = bps

# input / output paths
rootpath = D:\NBS_Data
rawpaths = PBC_Northeast_UTM18N_MLLW\NOAA_NCEI_OCS\BPS\Original
outpath = PBC_Northeast_UTM18N_MLLW\NOAA_NCEI_OCS\BPS\MLLW\Data\Active
metapath = PBC_Northeast_UTM18N_MLLW\NOAA_NCEI_OCS\BPS\MLLW\Data\Active\bps_meta.csv

# set the datum transformation path information
java_path = C:\Program Files\Java\jre1.8.0_191\bin
vdatum_path = C:\NBS_Code\vdatum_39\vdatum

# datum transformation binary paths
to_horiz_datum = NAD83 UTM
to_horiz_frame = NAD83
to_horiz_type = utm
to_horiz_units = m
to_horiz_key = 18

# output vertical datum
to_vert_key = mllw
to_vert_units = m
to_vert_direction = height
to_vert_datum = Mean Lower Low Water

# interpolation information
to_resolution = 4
interpolation_method = linear
interpolation_engine = point

# exchange file type
bathymetry_intermediate_file = csar

# database information
database_location =
database_name =