[Default]
# The configuration information for the USACE CENAN district
# These are the required (checked for) values
rawpaths = N:\New_Directory_1\NorthEast_PBC\USACE\eHydro_NewYorkDistrict\MLW\Data\Original;N:\New_Directory_1\NorthEast_PBC\USACE\eHydro_NewYorkDistrict\MLLW\Data\Original
outpath = N:\New_Directory_1\NorthEast_PBC\USACE\eHydro_NewYorkDistrict\MLLW\Data\Active
to_horiz_datum = 3725
to_vert_datum = MLLW
metapath = N:\New_Directory_1\NorthEast_PBC\USACE\eHydro_NewYorkDistrict\MLLW\Metadata\ehydrometa.csv
# these ones we don't have a check for yet
# set the reader to use
raw_reader_type = cenan
# set the datum transformation path information
java_path = C:\Program Files (x86)\Java\jre1.8.0_201\bin
vdatum_path = C:\vdatum3.9
# set the information needed for interpolation
to_resolution = 5
interpolation_method = linear
interpolation_engine = point
# exchange file type
bathymetry_intermediate_file = csar
# database information
database_location = iocm.ccom.nh
database_name = PBC_20190808