*.db
*.fbp
*.pyc
*.rst
*.spyproject
autointerp/Documentation/*
data_management/eHydro_scrape/_misc/*
data_management/eHydro_scrape/downloads/*
data_management/eHydro_scrape/logs/*
data_management/eHydro_scrape/runs/*
New_Directory


fuse_dev/fuse/proc_io/caris/get_access.py
.idea/*
