*.db
*.fbp
*.pyc
*.rst
*.spyproject
autointerp/Documentation/*
eHydro_scrape/_misc/*
eHydro_scrape/downloads/*
eHydro_scrape/logs/*
eHydro_scrape/runs/*
New_Directory


fuse_dev/fuse/proc_io/caris/get_access.py
.idea
