[Default]
raw_reader_type = cemvn

# input / output paths
rootpath = D:\NBS_Data
rawpaths = PBG_GulfCoast_PR_VI\USACE\eHydro_NewOrleans_CEMVN\Original
outpath = PBG_GulfCoast_PR_VI\USACE\eHydro_NewOrleans_CEMVN\MLLW\Active
# metapath = PBG_GulfCoast_PR_VI\USACE\eHydro_NewOrleans_CEMVN\MLLW\Active\ehydrometa.csv
metatable = OCS-VS-NBS01/metadata/usace_cemvn

# datum transformation binary paths
java_path = D:\resources\Java\jre1.8.0_191\bin
vdatum_path = D:\resources\vdatum

# output horizontal datum
to_horiz_key = 16
to_horiz_datum = NAD83 UTM
to_horiz_frame = NAD83
to_horiz_type = utm
to_horiz_units = m

# output vertical datum
to_vert_key = mllw
to_vert_units = m
to_vert_direction = height
to_vert_datum = Mean Lower Low Water

# interpolation information
to_resolution = 5
interpolation_method = linear
interpolation_engine = point

# exchange file type
bathymetry_intermediate_file = csar

# database information
database_location = iocm.ccom.nh
database_name = testing_gulf
