[Default]
# The configuration information for the USACE CENAN district

# These are the required (checked for) values
rawpaths = D:\NBS_Data\PBC_Northeast_UTM19N\USACE\eHydro_NewEngland_CENAE\Original
outpath = D:\NBS_Data\PBC_Northeast_UTM19N\USACE\eHydro_NewEngland_CENAE\MLLW\Active
metapath = D:\NBS_Data\PBC_Northeast_UTM19N\USACE\eHydro_NewEngland_CENAE\MLLW\Active\ehydrometa.csv

to_horiz_datum = NAD83 UTM
to_horiz_frame = NAD83
to_horiz_type = utm
to_horiz_units = m
to_horiz_key = 19
to_vert_key = mllw
to_vert_units = m
to_vert_direction = height
to_vert_datum = MLLW

# these ones we don't have a check for yet

# set the reader to use
raw_reader_type = cenae

# set the datum transformation path information
java_path = C:\Program Files\Java\jre1.8.0_191\bin
vdatum_path = C:\NBS_Code\vdatum_39\vdatum\

# set the information needed for interpolation
to_resolution = 4
interpolation_method = linear
interpolation_engine = point

# exchange file type
bathymetry_intermediate_file = csar

# database information
database_location = localhost
database_name = PBC_9-23-19
