[Default]
# The configuration information for the USACE CESAM district
# These are the required (checked for) values
rawpaths = N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAM\pickle_test\MLLW\Original
#N:\New_Directory_1\GulfCoast\USACE\temp_ehydro\updated_downloadwithpickle\downloads\CESAM
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAM\previous_move\MLLW\Original
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\downloads\CESAM
outpath = N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAM\Active
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAM\previous_move\MLLW\Original
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAM\Active
to_horiz_datum = NAD83 UTM
to_horiz_frame = NAD83
to_horiz_type = utm
to_horiz_units = m
to_vert_key = mllw
to_vert_units = m
to_vert_direction = height
to_vert_datum = Mean Lower Low Water

#vdatum_coord_code='spc'
#options:
#Supported Coordinate Systems:
#Code    : Description
#geo     : Geographic (Longitude, Latitude)
#utm     : Projected UTM (Easting, Northing)
#spc     : Projected State Plane Coordinates (Easting, Northing)
#xyz     : Earth-centered Earth-fixed XYZ (GRS80)
# database information

metapath = N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAM\metadata\ehydrometa.csv
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAM\metadata\ehydrometa.csv
# these ones we don't have a check for yet
raw_reader_type = cesam
java_path = C:\Program Files\Java\jdk1.8.0_201\bin
vdatum_path = C:\PydroXL\NOAA\supplementals\VDatum
#C:\Users\grice\Documents\Software\VDatum\vdatum
#need to find out from Glen where this is supposed to point# does it need to specify the .jar file?
to_resolution = 5
interpolation_method = linear
interpolation_engine = point
bathymetry_intermediate_file = csar
database_location = iocm.ccom.nh
database_name = testing_gulf
