[Default]
raw_reader_type = bag

# input / output paths
rootpath = D:\NBS_Data
rawpaths = PBC_Northeast_UTM18N_MLLW\NOAA_NCEI_OCS\BAGs\Original
outpath = PBC_Northeast_UTM18N_MLLW\NOAA_NCEI_OCS\BAGs\MLLW\Active
# metapath = PBC_Northeast_UTM18N_MLLW\NOAA_NCEI_OCS\BAGs\MLLW\Active\noaa_utm18n.csv
metatable = OCS-VS-NBS01/metadata/noaa_bag_utm18n

# datum transformation binary paths
java_path = D:\resources\Java\jre1.8.0_191\bin
vdatum_path = D:\resources\vdatum

# output horizontal datum
to_horiz_key = 18
to_horiz_datum = NAD83 UTM
to_horiz_frame = NAD83
to_horiz_type = utm
to_horiz_units = m

# output vertical datum
to_vert_key = mllw
to_vert_units = m
to_vert_direction = height
to_vert_datum = Mean Lower Low Water

# interpolation information
to_resolution = 5
interpolation_method = linear
interpolation_engine = raster

# exchange file type
bathymetry_intermediate_file = bag

# database information
database_location =
database_name =