# The configuration information for the USACE CEMVN district
# These are the required (checked for) values
rawpaths = N:\New_Directory_1\GulfCoast\USACE\ehydro\CEMVN\MLLW\Original
outpath = N:\New_Directory_1\GulfCoast\USACE\ehydro\CEMVN\MLLW\Active
to_horiz_datum = 26915
#26915#UTM15N#2149#UTM18N
to_vert_datum = MLLW#
metapath = N:\New_Directory_1\GulfCoast\USACE\ehydro\CEMVN\metadata\ehydrometa.csv
# these ones we don't have a check for yet
raw_reader_type = cemvn
java_path = C:\Users\grice\Documents\Software\VDatum\vdatum
vdatum_path = C:\Users\grice\Documents\Software\VDatum\vdatum