# The configuration information for the USACE CEMVN district
# These are the required (checked for) values
rawpaths =\\OCS-VS-NBS01\NBS_Data\PBG_GulfCoast_PR_VI\EasternGulf\USACE\e-Hydro\CESAM\MLLW\Original
outpath =\\OCS-VS-NBS01\NBS_Data\PBG_GulfCoast_PR_VI\EasternGulf\USACE\e-Hydro\CESAM\MLLW\Moving
to_horiz_datum = 6344
#UTM15N NAD83 (2011)#26915#2149#UTM18N
to_vert_datum = MLLW
metapath = \\OCS-VS-NBS01\NBS_Data\PBG_GulfCoast_PR_VI\Mississippi\USACE\E-Hydro\CEMVN\metadata\ehydro_allscript_meta_v2_willwantoretest.txt
# these ones we don't have a check for yet
raw_reader_type = cemvn
java_path = C:\Languages\Java\jre1.8.0_191\bin
vdatum_path = \\OCS-VS-NBS01\NBS_Code\vdatum
#need to find out from Glen where this is supposed to point# does it need to specify the .jar file?
to_resolution = 5
interpolation_method = kriging
interpolation_engine = point
bathymetry_intermediate_file = csar
