# The configuration information for the USACE CEMVN district
# These are the required (checked for) values
rawpaths = N:\New_Directory_1\GulfCoast\USACE\ehydro\CEMVN\MLG\Original
#N:\New_Directory_1\GulfCoast\USACE\ehydro\CEMVN\LWRP\Original
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\test_move\MLLW\Original#N:\New_Directory_1\GulfCoast\USACE\ehydro\CEMVN\MLLW\Original
outpath = N:\New_Directory_1\GulfCoast\USACE\ehydro\CEMVN\LWRP\Active
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\test_move\MLLW\Active#N:\New_Directory_1\GulfCoast\USACE\ehydro\CEMVN\MLLW\Active
to_horiz_datum = 6344
#6344#UTM15N NAD83 (2011)
#26915#UTM15N#2149#UTM18N
to_vert_datum = MLLW#
metapath = N:\New_Directory_1\GulfCoast\USACE\ehydro\CEMVN\metadata\ehydrometa.csv
# these ones we don't have a check for yet
raw_reader_type = cemvn
java_path = C:\PydroXL\NOAA\supplementals\VDatum
vdatum_path = C:\PydroXL\NOAA\supplementals\VDatum
#C:\Users\grice\Documents\Software\VDatum\vdatum
#need to find out from Glen where this is supposed to point# does it need to specify the .jar file?