[Default]
# The configuration information for the USACE CENAE district
# These are the required (checked for) values

rawpaths = R:\Scripts\vlab-nbs\New_Directory\PBC_Northeast\USACE\eHydro_NewEngland_CENAE\original\CT_14_PAT_20121210_AD_20

outpath = R:\Scripts\vlab-nbs\New_Directory\PBC_Northeast\USACE\eHydro_NewEngland_CENAE\MLLW\Data\Active

to_horiz_datum = 3725

to_vert_datum = MLLW

metapath = R:\Scripts\vlab-nbs\New_Directory\PBC_Northeast\USACE\eHydro_NewEngland_CENAE\MLLW\Metadata\ehydrometa.csv

raw_reader_type = cenae

# set the datum transformation path information
java_path = C:\Program Files\Java\jdk1.8.0_201\jre\bin

vdatum_path = R:\vdatum

# set the information needed for interpolation
to_resolution = 5

interpolation_method = linear

interpolation_engine = point

# exchange file type
bathymetry_intermediate_file = csar