# The configuration information for the USACE CENAN district
# These are the required (checked for) values
rawpaths = N:\New_Directory_1\NorthEast_PBC\USACE\eHydro_NewYorkDistrict\MLW\Data\Original;N:\New_Directory_1\NorthEast_PBC\USACE\eHydro_NewYorkDistrict\MLLW\Data\Original
outpath = N:\New_Directory_1\NorthEast_PBC\USACE\eHydro_NewYorkDistrict\MLLW\Data\Active
to_horiz_datum = 3725
to_vert_datum = MLLW
metapath = N:\New_Directory_1\NorthEast_PBC\USACE\eHydro_NewYorkDistrict\MLLW\Metadata\ehydrometa.csv
# these ones we don't have a check for yet
# set the reader to use
raw_reader_type = cenan
# set the datum transformation path information
java_path = C:\Program Files\Java\jdk1.8.0_201\bin
#C:\Program Files\Java\jre1.8.0_151\bin
vdatum_path = C:\Map_related\vdatum
#C:\Users\grice\Documents\Software\VDatum\vdatum
# set the information needed for interpolation
to_resolution = 5
interpolation_method = invdist
#linear
interpolation_engine = point