# The configuration information for the USACE CESAM district
# These are the required (checked for) values
rawpaths = N:\New_Directory_1\GulfCoast\USACE\temp_ehydro\updated_downloadwithpickle\TEMP_test_eraselater
#N:\New_Directory_1\GulfCoast\USACE\temp_ehydro\updated_downloadwithpickle\downloads\CESAM
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\downloads\cesam_test\Bay_test
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\downloads\CESAM_subset\to_do
#N:\New_Directory_1\GulfCoast\USACE\temp_ehydro\temp1
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAM\previous_move\MLLW\Original
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\downloads\CESAM
outpath = N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAM\Active\test_if_point_cloudwillwrite
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAM\Active
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAM\new_Active
to_horiz_datum = 3723
#6345#UTM 16 N NAD83 (2011)#26915#UTM15N#2149#UTM18N
to_vert_datum = MLLW
metapath = N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAM\metadata\ehydrometa_seeifpointswriteout.csv
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAM\metadata\ehydrometa.csv
# these ones we don't have a check for yet
raw_reader_type = cesam
java_path = C:\Program Files\Java\jdk1.8.0_201\bin
vdatum_path = C:\Map_related\vdatum
#C:\PydroXL\NOAA\supplementals\VDatum
#C:\Users\grice\Documents\Software\VDatum\vdatum
#need to find out from Glen where this is supposed to point# does it need to specify the .jar file?
to_resolution = 5
interpolation_method = invdist
#linear
#invdist
#natural# not implemented yet 5.6.2019#list in point_interpolator.py
interpolation_engine = point
bathymetry_intermediate_file = csar
