# The configuration information for the USACE CESAJ district
# These are the required (checked for) values
rawpaths = N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAJ\test_mllw
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAJ\previous_mv\MLLW\Original
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAJ\MLLW\Original#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\downloads\CESAJ
outpath = N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAJ\Active
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAJ\test_mllw
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAJ\Active
#MLLW\Active
to_horiz_datum = 6346
#This District is in both UTM17N & UTM16N
#EPSG:6346#UTM 17N NAD83 (2011) #6345#UTM 16 N NAD83 (2011)#26915#UTM15N#2149#UTM18N
to_vert_datum = MLLW
metapath = N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAJ\metadata\ehydrometa1.csv
# these ones we don't have a check for yet
raw_reader_type = cesaj
java_path = C:\Program Files\Java\jdk1.8.0_201\bin
vdatum_path = C:\Map_related\vdatum
#C:\Users\grice\Documents\Software\VDatum\vdatum
#need to find out from Glen where this is supposed to point# does it need to specify the .jar file?
to_resolution = 5
interpolation_method = linear
interpolation_engine = point
bathymetry_intermediate_file = csar
#vdatum_coord_code='spc'
#options:
#Supported Coordinate Systems:
#Code    : Description
#geo     : Geographic (Longitude, Latitude)
#utm     : Projected UTM (Easting, Northing)
#spc     : Projected State Plane Coordinates (Easting, Northing)
#xyz     : Earth-centered Earth-fixed XYZ (GRS80)
