# The configuration information for the USACE CESAM district
# These are the required (checked for) values
rawpaths = N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\test_move\MLLW\Original
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAM\MLLW\Original
outpath = N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\test_move\MLLW\Active
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAM\MLLW\Active
to_horiz_datum = 32615
#32616#UMT16N#26915#UTM15N#2149#UTM18N
to_vert_datum = MLLW#
metapath = N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\test_move\metadata\ehydrometa.csv
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAM\metadata\ehydrometa.csv
# these ones we don't have a check for yet
raw_reader_type = cesam
java_path = C:\Users\grice\Documents\Software\VDatum\vdatum
vdatum_path = C:\Users\grice\Documents\Software\VDatum\vdatum

