# The configuration information for the USACE CESAJ district
# These are the required (checked for) values
rawpaths = N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\downloads\CESAJ
#N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAJ\MLLW\Original
outpath = N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAJ\Active
#MLLW\Active
to_horiz_datum = 6346
#This District is in both UTM17N & UTM16N
#EPSG:6346#UTM 17N NAD83 (2011) #6345#UTM 16 N NAD83 (2011)#26915#UTM15N#2149#UTM18N
to_vert_datum = MLLW#
metapath = N:\New_Directory_1\GulfCoast\USACE\ehydro\EasternGulf\CESAJ\metadata\ehydrometa.csv
# these ones we don't have a check for yet
raw_reader_type = cesaj
java_path = C:\PydroXL\NOAA\supplementals\VDatum
vdatum_path = C:\PydroXL\NOAA\supplementals\VDatum
#C:\Users\grice\Documents\Software\VDatum\vdatum
#need to find out from Glen where this is supposed to point# does it need to specify the .jar file?