# The configuration information for the USACE CESAJ district
# These are the required (checked for) values
rawpaths = R:\Scripts\vlab-nbs\New_Directory\PBD_Pacific\USACE\eHydro_LosAngeles_CESPL\original\

outpath = R:\Scripts\vlab-nbs\New_Directory\PBD_Pacific\USACE\eHydro_LosAngeles_CESPL\MLLW\Data\Active

# http://epsg.io/6423
to_horiz_datum = 6423

to_vert_datum = MLLW

metapath = R:\Scripts\vlab-nbs\New_Directory\PBD_Pacific\USACE\eHydro_LosAngeles_CESPL\MLLW\Metadata\ehydrometa.csv

raw_reader_type = cespl

java_path = C:\Program Files\Java\jdk1.8.0_201\bin

vdatum_path = R:\vdatum

to_resolution = 5

interpolation_method = invdist_scilin

interpolation_engine = point

bathymetry_intermediate_file = csar
