# The configuration information for the USACE CESWG district
# These are the required (checked for) values
rawpaths = N:\New_Directory_1\GulfCoast\USACE\ehydro\Galveston
#\MLLW\Original
outpath = N:\New_Directory_1\GulfCoast\USACE\ehydro\Galveston\ActiveTest
#\MLLW\Active
to_horiz_datum = 6343
#6343#UTM 14N NAD83 (2011)#26914#UTM 14N NAD83 #EPSG:6346#UTM 17N NAD83 (2011) #32616#WGS84 UTM16N #6345#UTM 16 N NAD83 (2011)#26916#UMT16N NAD83#  6344#UTM15N NAD83 (2011)#  26915#UTM15N NAD83 #6347# UTM 18N NAD83 (2011)#26918#UTM18N NAD83
to_vert_datum = MLLW#
metapath = N:\New_Directory_1\GulfCoast\USACE\ehydro\Galveston\metadata\ehydrometa.csv
# these ones we don't have a check for yet
raw_reader_type = ceswg
java_path = C:\PydroXL\NOAA\supplementals\VDatum
vdatum_path = C:\PydroXL\NOAA\supplementals\VDatum
#C:\Users\grice\Documents\Software\VDatum\vdatum
